@model List<WebApplicationv2.Models.Views.ConsultantModel>
@{
    ViewData["Title"] = "Assign Consultant";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Title</th>
                            <th>Email</th>
                            <th>Branch</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Title</th>
                            <th>Email</th>
                            <th>Branch</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var consultant in Model)
                        {
                            <tr>
                                <td>@consultant.FirstName</td>
                                <td>@consultant.LastName</td>
                                <td>@consultant.Title</td>
                                <td>@consultant.Email</td>
                                @if (consultant.Branch != null)
                                {
                                    <td>@consultant.Branch.Name</td>
                                    <td><a href="/Branches/@consultant.Branch.Id/UnAssign/Consultant/@consultant.Id" class="btn btn-danger">UnAssign</a></td>
                                }
                                else
                                {
                                    <td>Not Set</td>
                                    <td><a href="/Branches/@ViewBag.branchId/Assign/Consultant/@consultant.Id" class="btn btn-success">Assign</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

