@model WebApplicationv2.Models.Views.ManagerModel
@*
        For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Title</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Active</th>
    </tr>

*@

<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Title</td>
    <td>@Model.PhoneNumber</td>
    <td>@Model.Email</td>
</tr>