@model List<Ticket>
@{
    ViewData["Title"] = "Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Queued Tickets</h1>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
 @*  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
*@ 
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Token</th>
                        <th>Active</th>
                        <td>Waiting Time</td>
                        <td>Status</td>
                        <td>Initial Time</td>
                    </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th><a data-target="#ticketModal" data-toggle="modal" href="#" data-id="@ViewBag.Service.Id" data-name="@ViewBag.Service.Name" data-description="@ViewBag.Service.Description" class="btn btn-primary">Join Queue</a></th>
                            <th>Active</th>
                            <td>Waiting Time</td>
                            <td>Status</td>
                            <td>Initial Time</td>
                        </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var ticket in Model)
                    {
                        <partial name="_TicketRowPartial" model="@ticket" />
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_TicketModalPartial" model="@ViewBag.Service" />

<!-- /.container-fluid -->